.header{
    font-size:10pt;
}

.report_header{
    font-size:12pt;
    font-weight: bold;
}

.footer{
    font-size:11pt;
}

.page{
    font-size:11.5pt;
}

h2{
    margin-top: 10mm;
}


thead tr th{
    color:red;
    font-weight: bold;
}



.table > :not(caption) > * > * {
    border-bottom-width: 0;
    border-bottom-color: None;
}


// .min_width50{
//     min-width:50%;
//     background-color:red;
//     color:green;
// }


// .widht50rem{
//     min-width:50rem;
//     background-color:red;
//     color:green;
// }

