.header{
    font-size:10pt;
}

.report_header{
    font-size:12pt;
    font-weight: bold;
}

.footer{
    font-size:11pt;
}

.page{
    font-size:10pt;
}

h2{
    margin-top: 10mm;
}


thead tr th{
    color:red;
    font-weight: bold;
}